<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zucora Home: Event page</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../Content/Zuc/styles/bootstrap.min.css" rel="stylesheet">
    <link href="../Content/Zuc/styles/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../Content/Zuc/styles/styles9d66868d59cc90dfcd5c.css" rel="stylesheet">
    <link href="../Content/Zuc/styles/new_styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- [ FONTS ]-->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href="https://use.typekit.net/ovc0ozw.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="margin-top: 101px;">
<!-- Site Navigation-->
<div class="zuc-nav-wrapper" data-nav-height="">
    <!-- Mobile Navigation-->
    <!-- User Navigation-->
    <div class="zuc-nav-user flex flex-hor-between flex-vert-center u-uppercase">
      <!-- Slogan-->
      <div class="zuc-nav-slogan u-normal">LIVRAISON OFFERTE PARTOUT AU CANADA. GRATUITE POUR LES COMMANDES DE PLUS DE<span class="u-zuc-mint"> 39 $*</span></div>
      <!--Nav Links-->
      <div class="zuc-user-links flex flex-hor-start flex-hor-between flex-vert-center">
        <a href="/Zuc/ourstory" style="text-transform: uppercase;color:white;">À propos de nous</a>
        <a href="https://www.zucorahomeblog.com/" style="text-transform: uppercase;color:white;">Blogue</a>
            <a class="zuc-user-login flex flex-vert-center u-bold u-auth-hide" href="/Account/Login" title="Log In">
                <i class="fas fa-lock u-auth-hide"></i>
                <span class="u-auth-hide">Connexion</span>
            </a>
      </div>
    </div>
    <!-- Main Navigation-->
    <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase zuc-nav-active" data-main-navigation="">
      <!-- Nav Branding--><a class="zuc-nav-brand" href="/Zuc/index"><img src="../Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Logo ZucoraHome."></a>
      <!-- Nav Links-->
      <div class="zuc-nav-links flex flex-hor-end flex-hor-between flex-no-wrap flex-vert-center">
        <!-- Nav Dropdown--><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Demande De Service">Demande De Service</a>
        <!-- Smarter Living Link -------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Qu&#146;est-ce Qu&#146;un Habitat Sensé?</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu="" aria-hidden="true" aria-role="menu" style="top: 102.403px;">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Plans Habitat Sensé</a><a href="/Zuc/smarterlivingmembershipbenefits" title="What is Smarter living." aria-role="menuitem">Avantages Habitat Sensé</a>
                <!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>-->
              </div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Un habitat sensé repose sur des choix qui offrent plus de confort et de commodité dans la vie de tous les jours.</p><img src="../Images/Zuc/images/nav/smarter-living.png" alt="Un couple de retraités se fait prendre en photo en souriant dans leur nouveau salon aux meubles blancs.">
              </div>
            </div>
          </div>
        </div>
        <!-- Service Plans --------------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Plans de service</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu="" aria-hidden="true" aria-role="menu" style="top: 102.403px;">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Plan mobilier</a><a href="/Zuc/serviceplansappliance" title="Learn more about appliance coverage" aria-role="menuitem">Plan électroménagers</a><a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Plan systèmes résidentiels</a><a href="/Zuc/serviceplans" title="View our bundles &amp; combos" aria-role="menuitem">Voir toutes les offres</a></div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Les plans Habitat sensé vous offrent une couverture complète et abordable pour votre mobilier, vos électroménagers et vos systèmes résidentiels.</p><img src="../Images/Zuc/images/nav/service-plans.png" alt="Un technicien tenant un sac d&#146;outils se prépare à réparer un lave-vaisselle à côté d&#146;un évier en acier inoxydable.">
              </div>
            </div>
          </div>
        </div>
        <!-- Smarter Home Products --------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Produits Ménagers Sensés</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu="" aria-hidden="true" aria-role="menu" style="top: 102.403px;">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column">
                <a href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Solutions Habitat sensé</a>
                <a href="/Zuc/zucollection" title="View our line of home care products" aria-role="menuitem">Collection ZU</a>
                <a href="/Zuc/purecare" title="View our line of sleep wellness products" aria-role="menuitem">PureCare</a>
                <a href="/Zuc/furniturecare" title="Learn more about our home wellness care kits" aria-role="menuitem">Entretien des meubles</a><a href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop All Products" aria-role="menuitem">Voir tous les produits</a></div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Soutenez votre quête d&#146;une maison propre et d&#146;une famille en santé avec les produits écologiques ZucoraHome..</p><img src="../Images/Zuc/images/nav/smarter-home-products.png" alt="Modern living room in open concept home decorated with soft grey and white colours.">
              </div>
            </div>
          </div>
        </div>
        <!-- Shop Now --------------------------------->
        <div class="zuc-nav-dropdown --clickme"><a class=" u-uppercase" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop Zucora Home Products">Magasiner</a></div>
      </div>

      <!-- Mobile Nav Button-->
      <div class="zuc-menu">
        <div class="zuc-menu-open" role="button" data-open-menu="" aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span></div>
      </div>
    </nav>
    <!-- Mobile Navigation-->
    <!-- Mobile Only Nav ------------------------>
    <div class="zuc-mobile-nav" data-mobile-menu="">
      <!-- Top Branding CTA-->
      <div class="zuc-mobile-nav-content"><a href="/Zuc/index" title="Zucora Home"><img src="../Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Logo ZucoraHome."></a>
        <!-- Primary CTA Button--><a class="zuc-btn zuc-btn-primary" href="../Zuc/formservicerequest" title="Demande de service">Demande de service</a>
      </div>
      <!-- Accordion Nav ------------------------------------------>
      <div class="zuc-accordion-nav" role="menu" aria-role="menu">
        <!--About Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">À propos de nous<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">

            <a class="zuc-accordion-link" href="/Zuc/community" title="Community contribution" aria-role="menuitem">Community</a>
            <a class="zuc-accordion-link" href="/Zuc/formcontactus" title="Nous joindre" aria-role="menuitem">Nous joindre</a>
            <a class="zuc-accordion-link" href="/Zuc/joinzucora" title="Join Us" aria-role="menuitem">Carrières</a>
            <a class="zuc-accordion-link" href="/Zuc/culture" title="ZucoraHome Office Culture" aria-role="menuitem">Culture</a>
            <a class="zuc-accordion-link" href="/Zuc/ourstory#our-team" title="Our Team" aria-role="menuitem">Our Team</a>
            <a class="zuc-accordion-link" href="https://www.zucorahomeblog.com/" title="ZucoraHome Blogue" aria-role="menuitem">Nouvelles</a>
          </div>
        </div>
        <!-- Smarter Living Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">Qu&#146;est-ce qu&#146;un habitat sensé?<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Plans Habitat sensé</a>
            <a href="/Zuc/smarterlivingmembershipbenefits" title="What is Smarter living." aria-role="menuitem">Avantages Habitat sensé</a>
            <!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>-->
          </div>
        </div>
        <!-- Service Plans Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">Plans de service<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Plan mobilier</a>
            <a href="/Zuc/serviceplansappliance" title="Learn more about appliance coverage" aria-role="menuitem">Plan électroménagers</a>
            <a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Plan systèmes résidentiels</a>
            <a href="/Zuc/serviceplans" title="View our bundles &amp; combos" aria-role="menuitem">Voir toutes les offres</a></div>
        </div>
        <!-- Home Care Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">Produits ménagers sensés<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Solutions Habitat sensé</a>
            <a class="zuc-accordion-link" href="/Zuc/zucollection" title="View our line of home care products" aria-role="menuitem">Collection ZU</a>
            <a class="zuc-accordion-link" href="/Zuc/purecare" title="View our line of sleep wellness products" aria-role="menuitem">PureCare</a>
            <a class="zuc-accordion-link" href="/Zuc/furniturecare" title="Learn more about our home wellness care kits" aria-role="menuitem">Entretien des meubles</a>
            <a class="zuc-accordion-link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="View our whole line of offerings" aria-role="menuitem">Voir tous les produits</a></div>
        </div>
        <!-- Member Centre Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">Centre des membres<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a class="zuc-accordion-link" href="/Account/Login" title="Learn more about smarter living." aria-role="menuitem">Accès membre</a>
            <!--a(class="zuc-accordion-link" href='#' title='Learn about the benefits of Smarter Living' aria-role='menuitem')|Redeem Rewards
              -->
            <!--a(class="zuc-accordion-link" href='#' title='TODO' aria-role='menuitem')|Blog
              --><a class="zuc-accordion-link" href="/Zuc/faq" title="Frequently Asked Questions" aria-role="menuitem">FAQ</a>
          </div>
        </div>
        <!-- Shop Now ---------------------------------->
        <!-- <div class="zuc-accordion-item" data-accordion-item> Removing this div to make it click on mobile.-->
        <a class="zuc-accordion-link shop-now-link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Magasiner" style="display: block;">Magasiner</a>
        <!-- </div> -->
      </div>
      <div class="zuc-menu" data-open-menu="">
        <div class="zuc-menu-open close" role="button" aria-label="Mobile Navigation Toggle"><span class="hidden" aria-hidden="true" aria-label="Click to toggle mobile menu">Mobile Menu</span></div>
      </div>
      <!-- Social Icons-->
      <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
        <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
        <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
        <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <!-- Broadcast Banner-->
    <div class="zuc-nav-broadcast flex flex-hor-between flex-vert-center" data-broadcast-banner="">
      <div class="zuc-broadcast-text u-truncate u-bold">Suggested editable broadcast banner that you can turn on/off for promos &amp; customer care outages.</div>
      <div class="zuc-broadcast-close" onclick="closeBroadcast()"><i class="fas fa-times"></i></div>
    </div>
  </div>
    <!-- Main page content-->
<section class="zuc-service-plan-hero--wrapper">
  <div class="zuc-service-plan-hero--text-section flex flex-column">
    <h1 class="zuc-service-plan-hero--heading u-font-serif">Choisissez le plan Habitat sensé qui vous convient.</h1>

    <p class="zuc-service-plan-hero--tagline u-bold">Les pannes ne peuvent pas toutes être évitées. Il vous suffit d&#39;un plan pour vous protéger.</p>
    <div class="zuc-service-plan-hero--btn"><a class="zuc-btn zuc-btn-secondary" href="/Zuc/ecomplan" title="Commencer">Commencer</a></div>
  </div>
  <div class="zuc-service-plan-hero--graphic-section" title="Un technicien entre dans une maison avec son sac à outils.">
    <div class="--bottom-wave"><img src="../Images/Zuc/images/shapes/hero-wave-bottom.svg" alt="An abstract grey wave"></div>
    <div class="--bottom-wave-flipped"><img src="../Images/Zuc/images/shapes/hero-wave-bottom.svg" alt="An abstract grey wave"></div>
    <div class="--grey-blob"><img src="../Images/Zuc/images/shapes/hero-wave-middle-grey.svg" alt="A tall abstract grey wave"></div>
    <div class="--pear"><img src="../Images/Zuc/images/shapes/round-blob-half-solid.svg" alt="An abstract green pear shape"></div>
  </div>
</section>
<section class="zuc-custom-plan flex">
  <h2 class="zuc-custom-plan--header flex-vert-start u-font-serif">Customize your service plan coverage to fit your needs and budget:</h2>
  <div class="zuc-custom-plan--container u-soft-shadow">
    <div class="zuc-custom-plan--ribbon u-uppercase u-bold">Best Value</div>
    <div class="zuc-custom-plan--title-container --indigo">
      <div class="zuc-custom-plan--title"><span class="zuc-custom-plan--plan-name">Whole home plan</span>
        <div class="zuc-custom-plan--line"></div>
        <div class="zuc-custom-plan--price"><span>$</span><span>69</span><span>.99</span></div><span class="zuc-custom-plan--month">/month</span><span class="zuc-custom-plan--savings">Bundle all three plans to save $50/month.</span>
      </div>
    </div><a class="zuc-custom-plan--items --overlay --o-darkindigo --fadein" href="/Zuc/ecomplan?i=Whole%20Home%20Plan" title="Stainless steel appliances bundled with furnishings and home systems under one insurance plan for $69.99 per month.">
      <div class="zuc-custom-plan--box --default flex"><img class="photo" src="../Images/Zuc/images/service-plans/appliances.png" alt="Home Appliances">
        <div class="photo-text">Appliances</div>
        <div class="plan-icon --default"><img src="../Images/Zuc/images/icons/icon-plus.svg" alt="a circle with a plus in it"></div>
      </div>
      <div class="zuc-custom-plan--box --default flex"><img class="photo" src="../Images/Zuc/images/service-plans/home-furnishing.png" alt="Home Furnishings">
        <div class="photo-text">Home Furnishings</div>
        <div class="plan-icon --default"><img src="../Images/Zuc/images/icons/icon-plus.svg" alt="A circle with a plus in it"></div>
      </div>
      <div class="zuc-custom-plan--box --default flex"><img class="photo" src="../Images/Zuc/images/service-plans/home-systems.png" alt="Home Systems">
        <div class="photo-text">Home Systems</div>
      </div>
    </a>
  </div>
  <div class="zuc-custom-plan--container u-soft-shadow">
    <div class="zuc-custom-plan--ribbon u-uppercase u-bold">Popular</div>
    <div class="zuc-custom-plan--title-container --lilac">
      <div class="zuc-custom-plan--title"><span class="zuc-custom-plan--plan-name">Combo plan</span>
        <div class="zuc-custom-plan--line"></div>
        <div class="zuc-custom-plan--price"><span>$</span><span>59</span><span>.99</span></div><span class="zuc-custom-plan--month">/month</span><span class="zuc-custom-plan--savings">Combine any 2 plans to save up to $30/month.</span>
      </div>
    </div>
    <div class="zuc-custom-plan--items"><a class="zuc-custom-plan--box --default flex --overlay --o-darkindigo --fadein" href="/Zuc/ecomplan?i=Furniture%20And%20Appliances%20Combo" title="Furniture + Appliances Combo"><img class="photo"
          src="../Images/Zuc/images/service-plans/furniture-appliances.png" alt="Loveseat and fridge">
        <div class="photo-text">Furniture + Appliances</div>
        <div class="plan-icon --default"><img src="../Images/Zuc/images/icons/icon-or.svg" alt="A circle with the word 'or' in it"></div>
      </a><a class="zuc-custom-plan--box --default flex --overlay --o-darkindigo --fadein" href="/Zuc/ecomplan?i=Furniture%20And%20Home%20Systems%20Combo" title="Furniture + Home Systems Combo"><img class="photo"
          src="../Images/Zuc/images/service-plans/furniture-home-systems.png" alt="Loveseat and Air-conditioner">
        <div class="photo-text">Furniture + Home Systems</div>
        <div class="plan-icon --default"><img src="../Images/Zuc/images/icons/icon-or.svg" alt="A circle with the word 'or' in it"></div>
      </a><a class="zuc-custom-plan--box --default flex --overlay --o-darkindigo --fadein" href="/Zuc/ecomplan?i=Appliances%20And%20Home%20Systems%20Combo" title="Home Systems + Appliances Combo"><img class="photo"
          src="../Images/Zuc/images/service-plans/home-systems-appliances.png" alt="Air-conditioner and Fridge">
        <div class="photo-text">Home Systems + Appliances</div>
      </a></div>
  </div>
</section>
<section class="zuc-base-plan flex flex-row flex-hor-center">
  <div class="zuc-base-plan-box-container u-soft-shadow">
    <div class="zuc-base-plan-box flex flex-hor-center flex-vert-center" href="#LimeTAC-Link-To-Ecommerce-Product" title="Furniture Plan">
      <!--<h6 class="u-uppercase u-zuc-indigo u-bold">Base Plan</h6>-->
      <h3 class="zuc-base-plan-heading u-font-serif u-light u-text-center u-zuc-indigo">Furniture Plan</h3>
      <div class="zuc-base-plan-graphics-container"><img class="zuc-base-plan-image" src="../Images/Zuc/images/service-plans/furniture.png" alt="Furniture"><img class="zuc-base-plan-badge" src="../Images/Zuc/images/service-plans/badge-furniture.svg"
          alt="Includes Multiple Pieces of Furniture - 29.99/mo"></div><a class="zuc-btn zuc-btn-secondary" href="/Zuc/serviceplansfurniture" alt="Learn More About our Furnitre Plans">Learn More</a>
    </div>
  </div>
  <div class="zuc-base-plan-box-container u-soft-shadow">
    <div class="zuc-base-plan-box flex flex-hor-center flex-vert-center" href="#LimeTAC-Link-To-Ecommerce-Product" title="Appliances Plan">
      <!--<h6 class="u-uppercase u-zuc-indigo u-bold">Base Plan</h6>-->
      <h3 class="zuc-base-plan-heading u-font-serif u-light u-text-center u-zuc-indigo">Appliances Plan</h3>
      <div class="zuc-base-plan-graphics-container"><img class="zuc-base-plan-image" src="../Images/Zuc/images/service-plans/appliance-washer.png" alt="Washer"><img class="zuc-base-plan-badge" src="../Images/Zuc/images/service-plans/badge-appliances.svg"
          alt="Includes Multiple Major Appliances - 39.99/mo"></div><a class="zuc-btn zuc-btn-secondary" href="/Zuc/serviceplansappliance" alt="Learn More About our Appliances Plans">Learn More</a>
    </div>
  </div>
  <div class="zuc-base-plan-box-container u-soft-shadow">
    <div class="zuc-base-plan-box flex flex-hor-center flex-vert-center" href="#LimeTAC-Link-To-Ecommerce-Product" title="Home Systems Plan">
      <!--<h6 class="u-uppercase u-zuc-indigo u-bold">Base Plan</h6>-->
      <h3 class="zuc-base-plan-heading u-font-serif u-light u-text-center u-zuc-indigo">Home Systems Plan</h3>
      <div class="zuc-base-plan-graphics-container"><img class="zuc-base-plan-image" src="../Images/Zuc/images/service-plans/home-systems-ac.png" alt="Airconditioner"><img class="zuc-base-plan-badge"
          src="../Images/Zuc/images/service-plans/badge-homesystems.svg" alt="Includes Multiple Home Systems - 49.99/mo"></div><a class="zuc-btn zuc-btn-secondary" href="/Zuc/serviceplanshomesystems" alt="Learn More About our Home Systems Plans">Learn
        More</a>
    </div>

  </div>

</section>
<section class="zuc-hero-slider --no-mob-bkg --bkg-hide --hero-pad" id="manage-risk">

  <!-- Zuc Cost Module-->
  <div class="zuc-cost-grid flex flex-vert-center flex-hor-center">
    <div class="zuc-cost-action d-green-bar">
      <h4 class="u-c-white u-uppercase u-bold">Manage your risk</h4>
      <h3 class="u-font-serif">If you are still undecided.</h3>
      <p class="u-color-white">The low monthly service fee gives you comprehensive service coverage and avoids huge repair or replacement costs when service is required.</p><a class="zuc-btn zuc-btn-hollow u-soft-shadow" href="/Zuc/ecomplan"
        title="See all of our service plans">GET STARTED TODAY</a>
    </div>
    <!-- - Hellraiser Cube-->
    <div class="zuc-cost-content">
      <!-- Top of Grid ( First 4 Tiles )-->
      <div class="zuc-grid-row flex flex-vert-end --grid-top">
        <div class="zuc-grid-double">
          <!-- Grid Item -------------------->
          <div class="zuc-grid-item --height-one --aircon">
            <div class="zuc-item-overlay">
              <div class="zuc-overlay-content" aria-hidden="true">
                <div class="zuc-item-title">Air Conditioning Unit</div>
                <ul class="zuc-item-costs">
                  <li>Typical Repair:</li>
                  <li>$120.00 + Parts</li>
                </ul>
                <ul class="zuc-item-costs">
                  <li>Typical Replacement:</li>
                  <li>$3,000.00 - $5,000.00</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Grid Item -------------------->
          <div class="zuc-grid-item --height-one --dining" title="Wooden table and chair set.">
            <div class="zuc-item-overlay">
              <div class="zuc-overlay-content" aria-hidden="true">
                <div class="zuc-item-title">Dining Room Set</div>
                <ul class="zuc-item-costs">
                  <li>Typical Repair:</li>
                  <li>$195.00 + Parts</li>
                </ul>
                <ul class="zuc-item-costs">
                  <li>Typical Replacement:</li>
                  <li>$1,494.00</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Grid Item -------------------->
        <div class="zuc-grid-item --nudge --height-one --heater">
          <div class="zuc-item-overlay">
            <div class="zuc-overlay-content" aria-hidden="true">
              <div class="zuc-item-title">Water Heater</div>
              <ul class="zuc-item-costs">
                <li>Typical Repair:</li>
                <li>$120.00 + Parts</li>
              </ul>
              <ul class="zuc-item-costs">
                <li>Typical Replacement:</li>
                <li>$566.00</li>
              </ul>
            </div>
          </div>
        </div>
        <!--Testimonial Item ------------->
        <div class="zuc-grid-item --testimonial">
          <div class="zuc-quote-badge-container flex flex-vert-center flex-hor-center u-soft-shadow"><img src="../Images/Zuc/images/icons/icon-quote-reverse.svg"></div>
          <div class="u-zuc-darkindigo">
            <p class="zuc-body-small">Zucora Home was a pleasure to deal with. They are very responsive, professional and worked diligently to remove the stain from my couch. I highly recommend this company!</p>
            <h6 class="u-color-white u-text-enter u-bold u-uppercase">– Heather T</h6>
          </div>
        </div>
      </div>
      <div class="zuc-grid-row flex flex-vert-start --grid-bottom">
        <!-- Grid Item -------------------->
        <div class="zuc-grid-item --height-one --fridge" title="Male technician preparing to repair a broken refrigerator.">
          <div class="zuc-item-overlay">
            <div class="zuc-overlay-content" aria-hidden="true">
              <div class="zuc-item-title">Refrigerator</div>
              <ul class="zuc-item-costs">
                <li>Typical Repair:</li>
                <li>$300.00 - $520.00</li>
              </ul>
              <ul class="zuc-item-costs">
                <li>Typical Replacement:</li>
                <li>$1,394.00</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Grid Item -------------------->
        <div class="zuc-grid-item --height-one --leather" title="A technician using a staple gun to repair a sofa.">
          <div class="zuc-item-overlay">
            <div class="zuc-overlay-content" aria-hidden="true">
              <div class="zuc-item-title">Leather Sofa</div>
              <ul class="zuc-item-costs">
                <li>Typical Repair:</li>
                <li>$120 + Parts</li>
              </ul>
              <ul class="zuc-item-costs">
                <li>Typical Replacement:</li>
                <li>$1,399.00 - $2,999.00</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="zuc-grid-double">
          <!-- Grid Item -------------------->
          <div class="zuc-grid-item --height-one --bigchair" title="An Image of beautiful living room with Blue and white coloured themed furnishings.">
            <div class="zuc-item-overlay">
              <div class="zuc-overlay-content" aria-hidden="true">
                <div class="zuc-item-title">Oversize Fabric Chair</div>
                <ul class="zuc-item-costs">
                  <li>Typical Repair:</li>
                  <li>$120 + Parts</li>
                </ul>
                <ul class="zuc-item-costs">
                  <li>Typical Replacement:</li>
                  <li>$849.00</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Grid Item -------------------->
          <div class="zuc-grid-item --height-one --laundry" title="An image of washing machine surrounded by folded laundry and laundry basket.">
            <div class="zuc-item-overlay">
              <div class="zuc-overlay-content" aria-hidden="true">
                <div class="zuc-item-title">Washer &amp; Dryer:</div>
                <ul class="zuc-item-costs">
                  <li>Typical Repair:</li>
                  <li>$300.00 - $520.00</li>
                </ul>
                <ul class="zuc-item-costs">
                  <li>Typical Replacement:</li>
                  <li>$1,600.00 - $4,000</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Backround element-->
  <div class="zuc-slider-bkg">
    <object data="../Images/Zuc/images/shapes/hero-slider-bg.svg" type="image/svg+xml"></object>
  </div>
</section>
<section class="zuc-tri-module flex flex-wrap flex-hor-center"><img class="zuc-tri-module-wave" src="../Images/Zuc/images/shapes/wave-shape-bottom-flat.svg" alt="An abstract conrete colored wave shape">
  <div class="zuc-tri-box --review-box">
    <div class="zuc-quote-badge flex flex-vert-center flex-hor-center u-soft-shadow"><img src="../Images/Zuc/images/icons/icon-quote.svg" alt="Purple quotation marks."></div>
    <h2 class="u-font-serif u-zuc-indigo u-text-center">See what our Members say</h2>
    <div class="zuc-review-text u-zuc-darkindigo">
      <p>We are pleased with the service we received from Zucora Home to replace the back of our love seat. It looks great. The service was quick and freindly. Thank you. Joan</p>
    </div>
    <div class="zuc-review-stars flex flex-row flex-space-around">
      <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star">
      <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star">
      <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star">
      <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star">
      <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star">
    </div>
    <p class="zuc-review-author u-bold u-zuc-darkindigo u-uppercase">– Joan M.</p>
  </div>
  <div class="zuc-tri-box --why-box">
    <h2 class="u-font-serif u-zuc-indigo">Why ZucoraHome?</h2>
    <div class="zuc-why-box-icon-row">
      <div class="zuc-why-box-icon-item">
        <div class="zuc-why-box-icon-img"><img src="../Images/Zuc/images/icons/icon-experienced.svg" alt="An icon of a thumbs up given to resume of qualified applicants."></div>
        <h6>EXPERIENCED</h6>
      </div>
      <div class="zuc-why-box-icon-item">
        <div class="zuc-why-box-icon-img"><img src="../Images/Zuc/images/icons/icon-nationwide.svg" alt="An image of map marked with Canada location."></div>
        <h6>NATIONWIDE</h6>
      </div>
      <div class="zuc-why-box-icon-item">
        <div class="zuc-why-box-icon-img"><img src="../Images/Zuc/images/icons/icon-guaranteed.svg" alt="An image of Check-marked seal of guarantee."></div>
        <h6>GUARANTEED</h6>
      </div>
    </div><a class="zuc-btn zuc-btn-secondary" href="/Zuc/ourstory" alt="About Zucora">Our Story</a>
  </div>
</section>
<!-- main page content ends -->
        <!-- Site Footer -->
    <footer class="zuc-footer-wrapper">
    <!-- - Footer Links-->
    <footer class="flex flex-hor-center zuc-footer">
      <div class="zuc-footer--brand-section flex flex-column noZindex"><a class="zuc-nav-brand" href="/Zuc/index" title="Homepage"><img src="../Images/Zuc/images/ZucoraHome-brand-white.svg" alt="ZucoraHome logo."></a>
        <div class="zuc-footer--social-icons-primary">
          <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
            <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
            <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
            <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="zuc-footer-body flex flex-row">
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">À propos de nous</h4>
            
            <a class="zuc-footer--link" href="https://www.zucorahomeblog.com/" title="ZucoraHome Blog">Blogue</a>
            <a class="zuc-footer--link" href="/Zuc/joinzucora" title="Join Us">Carrières</a>
            <a class="zuc-footer--link" href="/Zuc/community" title="Community contribution">Community</a>
            <a class="zuc-footer--link" href="/Zuc/formcontactus" title="Nous joindre">Nous joindre</a>
            <a class="zuc-footer--link" href="/Zuc/culture" title="ZucoraHome Office Culture">Culture</a>
            <a class="zuc-footer--link" href="https://www.zucorahomeblog.com/news/" title="ZucoraHome Nouvelles">Nouvelles</a>

          </div>
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Centre des membres</h4>
            <a class="zuc-footer--link" href="/Zuc/smarterliving" title="Qu&#146;est-ce qu&#146;un habitat sensé?">Qu&#146;est-ce qu&#146;un habitat sensé?</a>
            <a class="zuc-footer--link" href="/Account/Login" title="Accès membre">Accès membre</a>
            <a class="zuc-footer--link" href="/Zuc/faq" title="Frequently Asked Questions">FAQ</a>
          </div>
        </div>
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Produits et services</h4>
            <a class="zuc-footer--link" href="/Zuc/serviceplans" title="Plans de service">Plans de service</a>
            <a class="zuc-footer--link" href="/Zuc/smarterhomeproducts" title="Produits ménagers sensés">Produits ménagers sensés</a>
            <a class="zuc-footer--link" href="/Zuc/formordersshipping" title="Commandes et retours">Commandes et retours</a>
            <a class="zuc-footer--link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Magasiner">Magasiner</a>
          </div>
        </div>
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Partners</h4>
            <a class="zuc-footer--link" title="Smarter Partner page" href="/Zuc/smarterpartner">Smarter Partner</a>
            <!-- <a class="zuc-footer--link" title="Join as Contractor" href="#/">I am a Contractor</a> -->
          </div>
        </div>
        <div class="zuc-footer--zuc-footer-right zuc-footer--column"><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Demande de service">Demande de service</a>
          <div class="zuc-footer--social-icons-secondary">
            <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
              <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
              <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
              <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="zuc-shipping-blurb"><span class="u-zuc-platinum">LIVRAISON OFFERTE PARTOUT AU CANADA. GRATUITE POUR LES COMMANDES DE PLUS DE </span><span class="u-zuc-mint">&nbsp; 39 $*</span></div>
        </div>
      </div>
    </footer>
    <!-- - Footer SubLinks-->
    <!-- Footer Sub Links-->
    <div class="zuc-footer--copyright flex flex-vert-center">
      <div class="zuc-footer--copyright-title"><span class="zuc-footer--copyright-text">Copyright ©&nbsp;</span>
        <a class="zuc-footer--copyright-text" href="/Zuc/index" title="Zucora Home">Zucora Inc.</a><span class="zuc-footer--copyright-text">&nbsp;2020.</span></div>
      <div class="zuc-footer--copyright-menu flex flex-hor-start">
        <a class="zuc-footer--copyright-text" href="https://zuchomelimetacstorage.blob.core.windows.net/docs/202001_Privacy%20Policy.pdf_86f6e853-c743-4e7a-9d29-a74c69a996dd.pdf" title="View our Privacy Policy">Politique de confidentialité</a><span>•</span>
        <a class="zuc-footer--copyright-text" href="https://zuchomelimetacstorage.blob.core.windows.net/docs/202001_Conditions%20of%20Use.pdf_afd556eb-9792-4f36-b821-b81e467fb6e5.pdf" title="View our Terms of Service">Modalités de service</a><span>•</span>
        <a class="zuc-footer--copyright-text" href="/Zuc/sitemap" title="View our Sitemap">Plan du site</a></div>
    </div>
    <!-- /Zuc/termsservice /Zuc/privacypolicy-->
  </footer>
    <script type="text/javascript" src="../Content/Zuc/js/build9d66868d59cc90dfcd5c.js"></script>
</body>
</html>