<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zucora Home: Event page</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../Content/Zuc/styles/bootstrap.min.css" rel="stylesheet">
    <link href="../Content/Zuc/styles/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../Content/Zuc/styles/styles9d66868d59cc90dfcd5c.css" rel="stylesheet">
    <link href="../Content/Zuc/styles/new_styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- [ FONTS ]-->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href="https://use.typekit.net/ovc0ozw.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="margin-top: 101px;">
<!-- Site Navigation-->
<div class="zuc-nav-wrapper" data-nav-height="">
    <!-- Mobile Navigation-->
    <!-- User Navigation-->
    <div class="zuc-nav-user flex flex-hor-between flex-vert-center u-uppercase">
      <!-- Slogan-->
      <div class="zuc-nav-slogan u-normal">LIVRAISON OFFERTE PARTOUT AU CANADA. GRATUITE POUR LES COMMANDES DE PLUS DE<span class="u-zuc-mint"> 39 $*</span></div>
      <!--Nav Links-->
      <div class="zuc-user-links flex flex-hor-start flex-hor-between flex-vert-center">
        <a href="/Zuc/ourstory" style="text-transform: uppercase;color:white;">À propos de nous</a>
        <a href="https://www.zucorahomeblog.com/" style="text-transform: uppercase;color:white;">Blogue</a>
            <a class="zuc-user-login flex flex-vert-center u-bold u-auth-hide" href="/Account/Login" title="Log In">
                <i class="fas fa-lock u-auth-hide"></i>
                <span class="u-auth-hide">Connexion</span>
            </a>
      </div>
    </div>
    <!-- Main Navigation-->
    <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase zuc-nav-active" data-main-navigation="">
      <!-- Nav Branding--><a class="zuc-nav-brand" href="/Zuc/index"><img src="../Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Logo ZucoraHome."></a>
      <!-- Nav Links-->
      <div class="zuc-nav-links flex flex-hor-end flex-hor-between flex-no-wrap flex-vert-center">
        <!-- Nav Dropdown--><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Demande De Service">Demande De Service</a>
        <!-- Smarter Living Link -------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Qu&#146;est-ce Qu&#146;un Habitat Sensé?</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu="" aria-hidden="true" aria-role="menu" style="top: 102.403px;">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Plans Habitat Sensé</a><a href="/Zuc/smarterlivingmembershipbenefits" title="What is Smarter living." aria-role="menuitem">Avantages Habitat Sensé</a>
                <!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>-->
              </div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Un habitat sensé repose sur des choix qui offrent plus de confort et de commodité dans la vie de tous les jours.</p><img src="../Images/Zuc/images/nav/smarter-living.png" alt="Un couple de retraités se fait prendre en photo en souriant dans leur nouveau salon aux meubles blancs.">
              </div>
            </div>
          </div>
        </div>
        <!-- Service Plans --------------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Plans de service</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu="" aria-hidden="true" aria-role="menu" style="top: 102.403px;">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Plan mobilier</a><a href="/Zuc/serviceplansappliance" title="Learn more about appliance coverage" aria-role="menuitem">Plan électroménagers</a><a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Plan systèmes résidentiels</a><a href="/Zuc/serviceplans" title="View our bundles &amp; combos" aria-role="menuitem">Voir toutes les offres</a></div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Les plans Habitat sensé vous offrent une couverture complète et abordable pour votre mobilier, vos électroménagers et vos systèmes résidentiels.</p><img src="../Images/Zuc/images/nav/service-plans.png" alt="Un technicien tenant un sac d&#146;outils se prépare à réparer un lave-vaisselle à côté d&#146;un évier en acier inoxydable.">
              </div>
            </div>
          </div>
        </div>
        <!-- Smarter Home Products --------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Produits Ménagers Sensés</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu="" aria-hidden="true" aria-role="menu" style="top: 102.403px;">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column">
                <a href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Solutions Habitat sensé</a>
                <a href="/Zuc/zucollection" title="View our line of home care products" aria-role="menuitem">Collection ZU</a>
                <a href="/Zuc/purecare" title="View our line of sleep wellness products" aria-role="menuitem">PureCare</a>
                <a href="/Zuc/furniturecare" title="Learn more about our home wellness care kits" aria-role="menuitem">Entretien des meubles</a><a href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop All Products" aria-role="menuitem">Voir tous les produits</a></div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Soutenez votre quête d&#146;une maison propre et d&#146;une famille en santé avec les produits écologiques ZucoraHome..</p><img src="../Images/Zuc/images/nav/smarter-home-products.png" alt="Modern living room in open concept home decorated with soft grey and white colours.">
              </div>
            </div>
          </div>
        </div>
        <!-- Shop Now --------------------------------->
        <div class="zuc-nav-dropdown --clickme"><a class=" u-uppercase" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop Zucora Home Products">Magasiner</a></div>
      </div>

      <!-- Mobile Nav Button-->
      <div class="zuc-menu">
        <div class="zuc-menu-open" role="button" data-open-menu="" aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span></div>
      </div>
    </nav>
    <!-- Mobile Navigation-->
    <!-- Mobile Only Nav ------------------------>
    <div class="zuc-mobile-nav" data-mobile-menu="">
      <!-- Top Branding CTA-->
      <div class="zuc-mobile-nav-content"><a href="/Zuc/index" title="Zucora Home"><img src="../Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Logo ZucoraHome."></a>
        <!-- Primary CTA Button--><a class="zuc-btn zuc-btn-primary" href="../Zuc/formservicerequest" title="Demande de service">Demande de service</a>
      </div>
      <!-- Accordion Nav ------------------------------------------>
      <div class="zuc-accordion-nav" role="menu" aria-role="menu">
        <!--About Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">À propos de nous<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">

            <a class="zuc-accordion-link" href="/Zuc/community" title="Community contribution" aria-role="menuitem">Community</a>
            <a class="zuc-accordion-link" href="/Zuc/formcontactus" title="Nous joindre" aria-role="menuitem">Nous joindre</a>
            <a class="zuc-accordion-link" href="/Zuc/joinzucora" title="Join Us" aria-role="menuitem">Carrières</a>
            <a class="zuc-accordion-link" href="/Zuc/culture" title="ZucoraHome Office Culture" aria-role="menuitem">Culture</a>
            <a class="zuc-accordion-link" href="/Zuc/ourstory#our-team" title="Our Team" aria-role="menuitem">Our Team</a>
            <a class="zuc-accordion-link" href="https://www.zucorahomeblog.com/" title="ZucoraHome Blogue" aria-role="menuitem">Nouvelles</a>
          </div>
        </div>
        <!-- Smarter Living Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">Qu&#146;est-ce qu&#146;un habitat sensé?<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Plans Habitat sensé</a>
            <a href="/Zuc/smarterlivingmembershipbenefits" title="What is Smarter living." aria-role="menuitem">Avantages Habitat sensé</a>
            <!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>-->
          </div>
        </div>
        <!-- Service Plans Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">Plans de service<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Plan mobilier</a>
            <a href="/Zuc/serviceplansappliance" title="Learn more about appliance coverage" aria-role="menuitem">Plan électroménagers</a>
            <a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Plan systèmes résidentiels</a>
            <a href="/Zuc/serviceplans" title="View our bundles &amp; combos" aria-role="menuitem">Voir toutes les offres</a></div>
        </div>
        <!-- Home Care Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">Produits ménagers sensés<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Solutions Habitat sensé</a>
            <a class="zuc-accordion-link" href="/Zuc/zucollection" title="View our line of home care products" aria-role="menuitem">Collection ZU</a>
            <a class="zuc-accordion-link" href="/Zuc/purecare" title="View our line of sleep wellness products" aria-role="menuitem">PureCare</a>
            <a class="zuc-accordion-link" href="/Zuc/furniturecare" title="Learn more about our home wellness care kits" aria-role="menuitem">Entretien des meubles</a>
            <a class="zuc-accordion-link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="View our whole line of offerings" aria-role="menuitem">Voir tous les produits</a></div>
        </div>
        <!-- Member Centre Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item="">
          <div class="zuc-accordion-title">Centre des membres<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a class="zuc-accordion-link" href="/Account/Login" title="Learn more about smarter living." aria-role="menuitem">Accès membre</a>
            <!--a(class="zuc-accordion-link" href='#' title='Learn about the benefits of Smarter Living' aria-role='menuitem')|Redeem Rewards
              -->
            <!--a(class="zuc-accordion-link" href='#' title='TODO' aria-role='menuitem')|Blog
              --><a class="zuc-accordion-link" href="/Zuc/faq" title="Frequently Asked Questions" aria-role="menuitem">FAQ</a>
          </div>
        </div>
        <!-- Shop Now ---------------------------------->
        <!-- <div class="zuc-accordion-item" data-accordion-item> Removing this div to make it click on mobile.-->
        <a class="zuc-accordion-link shop-now-link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Magasiner" style="display: block;">Magasiner</a>
        <!-- </div> -->
      </div>
      <div class="zuc-menu" data-open-menu="">
        <div class="zuc-menu-open close" role="button" aria-label="Mobile Navigation Toggle"><span class="hidden" aria-hidden="true" aria-label="Click to toggle mobile menu">Mobile Menu</span></div>
      </div>
      <!-- Social Icons-->
      <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
        <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
        <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
        <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <!-- Broadcast Banner-->
    <div class="zuc-nav-broadcast flex flex-hor-between flex-vert-center" data-broadcast-banner="">
      <div class="zuc-broadcast-text u-truncate u-bold">Suggested editable broadcast banner that you can turn on/off for promos &amp; customer care outages.</div>
      <div class="zuc-broadcast-close" onclick="closeBroadcast()"><i class="fas fa-times"></i></div>
    </div>
  </div>
    <!-- Main page content-->
 <section class="zuc-secondary-header --slb-header" aria-describedby="" style="background-image:url('../Images/Zuc/images/smarter-living/interior-house-header.png');">
      <!-- Hero Content - Wrapper-->
      <div class="zuc-slb-content">
        <!-- Top Content-->
        <div class="zuc-hero-row flex flex-vert-end">
          <div class="zuc-slb-left u-text-left">
            <h1 class="u-font-serif u-zuc-indigo">Smarter Living is very rewarding.</h1>
            <p class="u-zuc-darkindigo">With your Smarter Living Plan, you automatically receive Member benefits that include priority service, preferred pricing, special offers and personalized service.</p>
            <p class="u-zuc-darkindigo"></p><a class="--member" href="javascript:void(0)" title="Member Login" onclick="toggleModal('[data-modal-login]')">I’m already a Member</a><a class="zuc-btn zuc-btn-secondary u-uppercase" href="/Zuc/ecomplan" title="Get Started Today">Get Started Today</a>
          </div>
          <div class="zuc-hero-right"><img class="--zuc-slb-img-position" src="../Images/Zuc/images/smarter-living/girl-blob-cutout-header.png" title="A smiling woman with her arms crossed"></div>
        </div>
        <!-- Bottom Container-->
        <div class="zuc-hero-row u-soft-shadow --slb-hero-grid-row">
          <h2 class="u-zuc-indigo u-font-serif">Exceptional Member benefits.</h2>
          <div class="zuc-header-tiles flex flex-vert-start flex-hor-between">
            <!-- Tile ------------------>
            <!-- - Iterate over each value in the Tiles object-->
            <div class="zuc-header-tile"><img class="zuc-header-tile-icon" src="../Images/Zuc/images/icons/icon-preferred-pricing.svg" alt="Icon of a price tag with a star on it">
              <h6 class="u-zuc-indigo u-bold">PREFERRED PRICING</h6>
              <p class="u-zuc-darkindigo">Receive special Member pricing on Smarter Living Products.</p>
            </div>
            <div class="zuc-header-tile"><img class="zuc-header-tile-icon" src="../Images/Zuc/images/icons/icon-premium-pricing.svg" alt="Icon of a piggy bank with coins dropping into it">
              <h6 class="u-zuc-indigo u-bold">EARN REWARDS</h6>
              <p class="u-zuc-darkindigo">Earn Member rewards on future purchases.</p>
            </div>
            <div class="zuc-header-tile"><img class="zuc-header-tile-icon" src="../Images/Zuc/images/icons/icon-personalized-service.svg" alt="TODO">
              <h6 class="u-zuc-indigo u-bold">PERSONALIZED PLAN</h6>
              <p class="u-zuc-darkindigo">Select the plan that is right for you and fits your budget.</p>
            </div>
          </div>
        </div>
      </div><img class="zuc-hero-bottom-wave" src="../Images/Zuc/images/shapes/hero-wave-bottom.svg" alt="A wave shape">
      <div class="u-screenreader" id="header-caption">BRIEFLY DESCRIBE VIDEO IN MARKETING LANGUAGE - TODO</div>
    </section>
    <!-- Modal Container-->
    <div class="zuc-modal --video-modal" data-smarter-video onclick="toggleModal('[data-smarter-video]')">
      <!-- Modal Content-->
      <div class="zuc-modal-content" onclick="event.stopPropagation()">
        <!-- Zucora Home Introductory Video-->
        <video class="zuc-modal-video" poster="https://i.vimeocdn.com/video/739725837.jpg" style="background-image: url('https://i.vimeocdn.com/video/739725837.jpg'); background-size: cover;" preload="auto" controls>
          <source src="https://player.vimeo.com/external/301216708.hd.mp4?s=324fdb4fb3b75d1fb3f6edd16a3068675a7b6cf7&amp;profile_id=175" type="video/mp4">
          <source src="https://player.vimeo.com/external/301216708.hd.mp4?s=324fdb4fb3b75d1fb3f6edd16a3068675a7b6cf7&amp;profile_id=174" type="video/mp4">
          <source src="https://player.vimeo.com/external/301216708.hd.mp4?s=324fdb4fb3b75d1fb3f6edd16a3068675a7b6cf7&amp;profile_id=165" type="video/mp4">
        </video>
      </div>
    </div>
    <section class="zuc-slb-benefits flex">
      <div class="zuc-image-box"></div>
      <div class="zuc-cta-box u-soft-shadow">
        <h3 class="u-color-pure-white u-font-serif">Earn rewards while protecting your home.</h3>
        <p class="u-color-white">As a Smarter Living Member, you receive reward points with every plan, product and service purchase.</p><a class="zuc-btn zuc-btn-hollow u-soft-shadow" href="/Zuc/smarterliving#how-it-works" title="How it works">HOW IT WORKS</a><img class="zuc-coral-wave" src="../Images/Zuc/images/graphics/graphic_zigzag_coral.svg" alt="Decorative coral wave">
      </div>
      <div class="zuc-info-box u-soft-shadow">
        <h4 class="u-text-uppercase u-zuc-darkindigo u-bold">YOUR MEMBER BENEFITS INCLUDE:</h4>
        <ul class="--list-margin u-light">
          <li>24/7 Service Request submissions</li>
          <li>National network of professional contractors</li>
          <li>Customized plan to fit your budget</li>
          <li>Fast response when you need it most</li>
          <li>Special Member pricing on Smarter Home Products</li>
          <li>Valuable rewards for future purchases</li>
        </ul>
      </div><img class="zuc-slb-benefits-bg" src="../Images/Zuc/images/shapes/blob-cutoff.svg" alt="An abstract green and blue blob shape">
    </section>
    <section class="zuc-featured-block --graphic-blob">
      <div class="zuc-featured flex flex-wrap">
        <div class="zuc-featured-content">
          <div class="zuc-title-container flex">
            <h4>Valuable rewards</h4>
            <div class="zuc-title-flag">
              <div class="--green"></div>
            </div>
          </div>
          <h2 class="u-font-serif u-zuc-indigo">Earn 10 points for every $1.</h2>
          <p>Earn valuable Smarter Living Rewards with your plan, product and service purchases. By earning 10 points for every $1 spent, means your points will accumulate quickly and become valuable for future product purchases.</p><br><br><br>
          <div class="d-grey-slash"><img class="--image" src="../Images/Zuc/images/graphics/graphic_slash_grey.svg" alt="Decorative grey slashes."></div>
        </div>
        <div class="zuc-featured-image flex flex-hor-center">
          <div class="zuc-featured-media"><img src="../Images/Zuc/images/shared/woman-online-purchase.png"></div><img class="zuc-blob" src="../Images/Zuc/images/shapes/round-blob-solid.svg" alt="An abstract green and blue blob shape">
        </div>
      </div>
    </section>
    <section class="zuc-tri-module flex flex-wrap flex-hor-center"><img class="zuc-tri-module-wave" src="../Images/Zuc/images/shapes/wave-shape-bottom-flat.svg" alt="An abstract conrete colored wave shape">
      <div class="zuc-tri-box --review-box">
        <div class="zuc-quote-badge flex flex-vert-center flex-hor-center u-soft-shadow"><img src="../Images/Zuc/images/icons/icon-quote.svg"></div>
        <h2 class="u-font-serif u-zuc-indigo u-text-center">See what our Members say</h2>
        <div class="zuc-review-text u-zuc-darkindigo">
          <p>The service technician called to let me know he was running ahead of schedule and asked if he could come an hour earlier. Yes, that was great and I was thrilled. When he arrived he asked about the stain on the kitchen chair, what I had done to remove it, and took a photo. It took him less than 10 minutes and he was great - he even asked if he could use our water and electrical outlet. When the job was complete he let me know how I could avoid such stains in the future. It is a pleasure to deal with true professionals.</p>
        </div>
        <div class="zuc-review-stars flex flex-row flex-space-around">
          <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star">
          <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star">
          <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star">
          <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star">
          <img class="zuc-star" src="../Images/Zuc/images/icons/icon-star.svg" alt="A small purple star"></div>
        <p class="zuc-review-author u-bold u-zuc-darkindigo u-uppercase">– Jeff R.</p>
      </div>
      <div class="zuc-tri-box --why-box">
        <h2 class="u-font-serif u-zuc-indigo">Why Zucora Home?</h2>
        <div class="zuc-why-box-icon-row">
          <div class="zuc-why-box-icon-item">
            <div class="zuc-why-box-icon-img"><img src="../Images/Zuc/images/icons/icon-experienced.svg" alt="An icon of a document with a thumbs up"></div>
            <h6>EXPERIENCED</h6>
          </div>
          <div class="zuc-why-box-icon-item">
            <div class="zuc-why-box-icon-img"><img src="../Images/Zuc/images/icons/icon-nationwide.svg" alt="An icon of a map"></div>
            <h6>NATIONWIDE</h6>
          </div>
          <div class="zuc-why-box-icon-item">
            <div class="zuc-why-box-icon-img"><img src="../Images/Zuc/images/icons/icon-guaranteed.svg" alt="An icon of a victory badge"></div>
            <h6>GUARANTEED</h6>
          </div>
        </div><a class="zuc-btn zuc-btn-secondary" href="/Zuc/ourstory" alt="About Zucora">Our Story</a>
      </div>
    </section>
    
<!-- main page content ends -->
    <!-- Site Footer -->
    <footer class="zuc-footer-wrapper">
    <!-- - Footer Links-->
    <footer class="flex flex-hor-center zuc-footer">
      <div class="zuc-footer--brand-section flex flex-column noZindex"><a class="zuc-nav-brand" href="/Zuc/index" title="Homepage"><img src="../Images/Zuc/images/ZucoraHome-brand-white.svg" alt="ZucoraHome logo."></a>
        <div class="zuc-footer--social-icons-primary">
          <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
            <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
            <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
            <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="zuc-footer-body flex flex-row">
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">À propos de nous</h4>
            
            <a class="zuc-footer--link" href="https://www.zucorahomeblog.com/" title="ZucoraHome Blog">Blogue</a>
            <a class="zuc-footer--link" href="/Zuc/joinzucora" title="Join Us">Carrières</a>
            <a class="zuc-footer--link" href="/Zuc/community" title="Community contribution">Community</a>
            <a class="zuc-footer--link" href="/Zuc/formcontactus" title="Nous joindre">Nous joindre</a>
            <a class="zuc-footer--link" href="/Zuc/culture" title="ZucoraHome Office Culture">Culture</a>
            <a class="zuc-footer--link" href="https://www.zucorahomeblog.com/news/" title="ZucoraHome Nouvelles">Nouvelles</a>

          </div>
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Centre des membres</h4>
            <a class="zuc-footer--link" href="/Zuc/smarterliving" title="Qu&#146;est-ce qu&#146;un habitat sensé?">Qu&#146;est-ce qu&#146;un habitat sensé?</a>
            <a class="zuc-footer--link" href="/Account/Login" title="Accès membre">Accès membre</a>
            <a class="zuc-footer--link" href="/Zuc/faq" title="Frequently Asked Questions">FAQ</a>
          </div>
        </div>
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Produits et services</h4>
            <a class="zuc-footer--link" href="/Zuc/serviceplans" title="Plans de service">Plans de service</a>
            <a class="zuc-footer--link" href="/Zuc/smarterhomeproducts" title="Produits ménagers sensés">Produits ménagers sensés</a>
            <a class="zuc-footer--link" href="/Zuc/formordersshipping" title="Commandes et retours">Commandes et retours</a>
            <a class="zuc-footer--link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Magasiner">Magasiner</a>
          </div>
        </div>
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Partners</h4>
            <a class="zuc-footer--link" title="Smarter Partner page" href="/Zuc/smarterpartner">Smarter Partner</a>
            <!-- <a class="zuc-footer--link" title="Join as Contractor" href="#/">I am a Contractor</a> -->
          </div>
        </div>
        <div class="zuc-footer--zuc-footer-right zuc-footer--column"><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Demande de service">Demande de service</a>
          <div class="zuc-footer--social-icons-secondary">
            <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
              <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
              <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
              <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="zuc-shipping-blurb"><span class="u-zuc-platinum">LIVRAISON OFFERTE PARTOUT AU CANADA. GRATUITE POUR LES COMMANDES DE PLUS DE </span><span class="u-zuc-mint">&nbsp; 39 $*</span></div>
        </div>
      </div>
    </footer>
    <!-- - Footer SubLinks-->
    <!-- Footer Sub Links-->
    <div class="zuc-footer--copyright flex flex-vert-center">
      <div class="zuc-footer--copyright-title"><span class="zuc-footer--copyright-text">Copyright ©&nbsp;</span>
        <a class="zuc-footer--copyright-text" href="/Zuc/index" title="Zucora Home">Zucora Inc.</a><span class="zuc-footer--copyright-text">&nbsp;2020.</span></div>
      <div class="zuc-footer--copyright-menu flex flex-hor-start">
        <a class="zuc-footer--copyright-text" href="https://zuchomelimetacstorage.blob.core.windows.net/docs/202001_Privacy%20Policy.pdf_86f6e853-c743-4e7a-9d29-a74c69a996dd.pdf" title="View our Privacy Policy">Politique de confidentialité</a><span>•</span>
        <a class="zuc-footer--copyright-text" href="https://zuchomelimetacstorage.blob.core.windows.net/docs/202001_Conditions%20of%20Use.pdf_afd556eb-9792-4f36-b821-b81e467fb6e5.pdf" title="View our Terms of Service">Modalités de service</a><span>•</span>
        <a class="zuc-footer--copyright-text" href="/Zuc/sitemap" title="View our Sitemap">Plan du site</a></div>
    </div>
    <!-- /Zuc/termsservice /Zuc/privacypolicy-->
  </footer>
    <script type="text/javascript" src="../Content/Zuc/js/build9d66868d59cc90dfcd5c.js"></script>
</body>
</html>